<section class="header w-[80%] mb-4 p-4 rounded-2xl shadow-xl" style="background-color: #1ABA1A;">
       <h2
    class="uppercase mb-3 font-semibold tracking-widest text-[16px] underline underline-offset-4 decoration-3 decoration-lime-400 "
    style="color: white;"
  >
        Top Brands


  </h2>
</section>

<section class="mb-6 bg-white p-8 shadow-2xl rounded-2xl">
  <owl-carousel-o [options]="brandsOptions">

    @for (brand of popularBrands().slice(0,20); track brand._id) {
      <ng-template carouselSlide [id]="brand._id">
        <div  class=" border  border-surface-200  shadow-lg  dark:border-surface-700 rounded-xl mx-1.5 pb-2  overflow-hidden group ">
        <img [src]="brand.image" loading="lazy" class="w-full h-[30%] border border-b-2 border-gray-100" [alt]="brand.name" >
        
        <h4 class="text-[12px] text-center font-bold  md:text-[14px]">{{brand.name}}</h4>
        </div>

      </ng-template>


    }

  </owl-carousel-o>


</section>

