<section class="header w-[95%] mx-auto  mb-4 mt-10 p-4 rounded-2xl shadow-xl" style="background: #1ABA1A;
background: linear-gradient(90deg, rgba(26, 186, 26, 1) 50%, rgb(0, 46, 30) 100%);">
  <div class="flex justify-between items-center">
      <h2
    class="uppercase mb-3 font-semibold tracking-widest underline underline-offset-4 decoration-3 decoration-lime-400 text-[13px] md:text-[16px]  "
    style="color: white;"
  >
        Our Products
  </h2>
<!-- ~ Search -->
  <div class="relative w-full max-w-lg ">
  <input
  [(ngModel)]="searchText"
   name="search"
    type="search"
    pInputText
    placeholder="Search..."
    class="w-full py-2 ps-4 rounded-full border placeholder:text-gray-400 border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-700 bg-lime-50 "
  />
  <button>
  <i class="pi pi-search absolute right-3 top-1/2 -translate-y-1/2 text-black " style="font-weight: bolder;"></i>

  </button>


  </div>
            <!-- ~ Search -->

  </div>
</section>




<section class=" p-6 bg-white my-5 w-[95%] m-auto rounded-2xl">
  <div class=" grid gap-3 grid-cols-2 sm:grid-cols-3  md:grid-cols-4 lg:grid-cols-6 ">
    @for (product of listOfProducts|search:searchText; track product.id) {
          <app-card [product]="product"></app-card>
      }
  </div>

<div class="card flex justify-center">

<p-paginator  (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"  />
</div>

</section>

