<section class="w-[95%] m-auto bg-white rounded-2xl my-6 p-10">
  <div class="flex justify-around items-center px-4 py-6 gap-4">
 

    <div class="mt-4 w-full  text-center">
      <div class="mb-5">
        <h1
          class="font-extrabold mb-3 text-2xl"
          style="color: var(--main-color)"
        >
          Forget Password
        </h1>
       </div>


      <div class="card flex justify-center">
            <p-stepper [value]="1" class="basis-[50rem] " [linear]="true">
                <p-step-list class=" flex-col md:flex-row justify-center items-center"> 
                    <p-step [value]="1">Verify Email</p-step>
                    <p-step [value]="2">Verify Code</p-step>
                    <p-step [value]="3">Reset Password</p-step>
                </p-step-list>
                <p-step-panels >
                    <p-step-panel [value]="1">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col h-48 ">
                                <div class="p-10  border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium ">
                                

        <form class="w-full md:w-[70%] m-auto" [formGroup]="verifyEmail" (ngSubmit)="formStep1()">
            <app-input [control]="verifyEmail.get('email')" 
            [inputType]="'email'"  
            [LabelInput]="'Email'"
            [inputId]="'userEmail'"
            
            ></app-input>

            
            <button
            type="submit"
            class="p-2.5 rounded-2xl border-2 text-white mb-2 mt-0  w-full"
            >
                Verify Email
            </button>

         </form>
                                        
                                    
                                    </div>
                            </div>
                            <div class="flex pt-6 justify-end">
                                @if(verifyEmail.valid && submitted){
                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                                }
                            </div>
                        </ng-template>
                    </p-step-panel>

                    
                    <p-step-panel [value]="2">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col h-48 ">
                                <div class="p-10  border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                       <form class="w-full md:w-[70%] m-auto"[formGroup]="verifyCode" (ngSubmit)="formStep2()">
        <app-input [control]="verifyCode.get('resetCode')" 
        [inputType]="'text'"  
        [LabelInput]="'resetCode'"
        [inputId]="'resetCode'"
                ></app-input>

                
        <button
          type="submit"
          class="p-2.5 rounded-2xl border-2 text-white mb-2 mt-0  w-full"
        >
            Verify Code
          
        </button>


                                            </form>
                                        
                                    
                                </div>
                            </div>
                            <div class="flex pt-6 justify-between mt-8">
                                <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                                @if (verifyCode.valid && submitted){
                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                                }
                             
                            </div>
                        </ng-template>
                    </p-step-panel>

                    <p-step-panel [value]="3">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col h-48">
                                <div class="p-10  border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                    @if (step == 3){
                                    
                                        <form class="w-full md:w-[70%] m-auto" [formGroup]="resetPassword" (ngSubmit)="formStep3()">
                                        <app-input [ariaDisabled]="true" [control]="resetPassword.get('email')" 
                                        [inputType]="'email'"  
                                        [LabelInput]="'Email'"
                                        [inputId]="'userEmail'"
                                         [readonly]="true" 
                                                ></app-input>
                                        <app-input [control]="resetPassword.get('newPassword')" 
                                        [LabelInput]="'newPassword'"
                                        [inputId]="'userPassword'"
                                    
                                                ></app-input>

                
                                            <button
                                            type="submit"
                                            class="p-2.5 rounded-2xl border-2 text-white mb-2 mt-0  w-full"
                                            >
                                            Reset Password
                                            </button>

                                        </form>
                                    }
                                </div>
                            </div>
                            <div class="flex pt-6 justify-start mt-32">
                                <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
                            </div>
                        </ng-template>
                    </p-step-panel>
                    
                    
                </p-step-panels>
            </p-stepper>
        </div>

    </div>
  </div>
</section>