
.ads1 {
  background-color: #191718;
    background-image: url(/images/ms-3.avif);
    background-position: center center;
    background-size: contain ;
    background-repeat: no-repeat;
  

}

.ads2 {
  background-color: #CEB2E3;
    background-image: url(/images/img4.avif);
    background-position: center center;
    background-size: contain ;
    background-repeat: no-repeat;
  

}



