<section class="w-[95%] m-auto bg-white rounded-2xl my-6 p-10">
  <div class="md:flex justify-around items-center px-2 py-8 gap-4">
    <div class="w-full lg:ms-6 pe-10">
      <img src="/images/login.svg.png" alt="Register" />
    </div>

    <div class="mt-4 w-full lg:grow">
      <div class="mb-5">
        <h1
          class="font-extrabold mb-3 text-2xl"
          style="color: var(--main-color)"
        >
          Register
        </h1>
        <p class="tracking-widest font-light">Join To Us</p>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
        <!-- !name  -->
        <app-input
          [control]="registerForm.get('name')"
          [inputType]="'text'"
          [inputId]="'userName'"
          [LabelInput]="'Your Name'"
        ></app-input>

        <!-- !email  -->
        <app-input
          [control]="registerForm.get('email')"
          [inputType]="'email'"
          [inputId]="'userEmail'"
          [LabelInput]="'Email'"
        ></app-input>

        <!-- !password  -->
        <app-input
          [control]="registerForm.get('password')"
          [inputId]="'userPassword'"
          [LabelInput]="'Password'"
        ></app-input>

        <!-- !rePassword  -->
        <app-input
          [control]="registerForm.get('rePassword')"
          [inputId]="'userRePassword'"
          [LabelInput]="'RePassword'"
        ></app-input>
        <!-- !phone  -->
        <app-input
          [control]="registerForm.get('phone')"
          [inputType]="'tel'"
          [inputId]="'userPhone'"
          [LabelInput]="'Phone'"
        ></app-input>


        <button
          type="submit"
          class="p-2.5 rounded-2xl border-2 text-white mb-5 mt-2 w-full"
          [disabled]="isLoading===true"
        >
          Register @if (isLoading===true) {
          <i
            class="pi pi-spin pi-spinner-dotted ms-1"
            style="font-size: 1.1rem"
          ></i>

          }
        </button>

        @if (errMessage) {
        <div
          class="py-6 px-2 bg-red-200 text-red-800 font-extrabold text-center rounded-2xl shadow-lg shadow-red-800"
        >
          {{ errMessage }} !
        </div>
        } @else if (successMessage){
        <div
          class="py-6 px-2 bg-green-300 text-green-800 font-extrabold text-center rounded-2xl shadow-lg shadow-lime-400"
        >
          {{ successMessage }}
        </div>

        }
      </form>
    </div>
  </div>
</section>
