.search-section{
  background-color: var(--main-color);
}

.card {
  display: inline-block;
  margin: 15px;
  position: relative;
}
.hidden-text {
  display: none;   
  position: absolute;          
  top: 45px;               
  left: 0;
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;       
}

.card:hover .hidden-text {
  display: block;           
}
/* @media(max-width:360px){
  .search-section{
    margin-top: 18px;
  }
} */

