<footer class="capitalize rounded-t-2xl relative bottom-0 left-0 right-0">
<div class=" w-[95%]  mx-auto py-5  ">
  <h2 class="font-bold uppercase text-[18px] pb-4"> Get The Fresh Cart App</h2>
  <p class=" pb-5  text-[16px] md:max-w-[80%]">   <i class="pi pi-angle-double-right" style="color: #000000"></i>
we will send you a link , open it on your to download the app </p>
  <p class=" pb-10  text-[16px] md:max-w-[80%]"> <i class="pi pi-angle-double-right" style="color: #000000"></i>

subscribe & get <span class="text-red-500"> %10 off</span> for your first order </p>

<form >
  <div class="ourInput md:flex items-center mb-5">
     <p-floatlabel class="mb-2 md:grow">
        <input  class="w-full" pInputText id="over_label" aria-label="Email.." name="Email" [(ngModel)]="value1" autocomplete="off" />
        <label for="over_label">Email..</label>
    </p-floatlabel>

  <button class="p-2.5 rounded-2xl border-2 text-white mb-2 lg:ms-1">Share App Link</button>
  </div>
</form>

  <div class="payments  md:flex justify-between items-center mt-2.5">

    <div class="mb-5">
      <h2 class="font-bold uppercase text-[16px]  me-2 mb-3">payment partners</h2>

      <div class=" flex justify-between items-center w-[50%] mb-3 ">
      <img src="/images/amazon-pay.png" width="60px" class="me-2" loading="lazy" alt="amazon">
      <img src="/images/American-Express-Color.png"  width="60px" loading="lazy"  class=" me-2" alt="american express">
      <img src="/images/paypal.png"  width="60px"  class=" me-2"loading="lazy" alt=" paypal">
      <img src="/images/mastercard.webp"  width="60px" loading="lazy"  class=" me-2" alt=" mastercard">
      </div>
    </div>

    <div class="mb-3" >
      <h2 class="font-bold uppercase text-[16px]  me-2 mb-3"> get delivers with fresh cart</h2>

      <div class=" flex justify-between items-center w-[40%] mb-3">
      <img src="/images/get-apple-store.png" loading="lazy" width="100px" class=" me-3" alt="apple store">
      <img src="/images/get-google-play.png" loading="lazy" width="120px"   alt="google play">

      </div>

    </div>
  </div>

<hr class="text-gray-100 mb-2">


<div class="icons mt-5 text-center">
  <span class="font-bold uppercase text-[16px] text-stone-950">join us on   <i class="pi pi-angle-double-right m-1"></i></span>
  <a href="https://www.facebook.com/" target="_blank">  <i class="pi pi-facebook m-1.5 text-gray-500 hover:text-sky-800 transition-colors" style="font-size: 1.1rem"></i></a>
  <a href="https://www.instagram.com/" target="_blank">  <i class="pi pi-instagram m-1.5 text-gray-500 hover:text-pink-700 transition-colors" style="font-size: 1.1rem"></i></a>
  <a href="https://x.com/" target="_blank">  <i class="pi pi-twitter m-1.5 text-gray-500 hover:text-gray-950 transition-colors" style="font-size: 1.1rem"></i></a>
  <a href="https://x.com/" target="_blank">  <i class="pi pi-telegram m-1.5  text-gray-500 hover:text-sky-400 transition-colors" style="font-size: 1.1rem"></i></a>
  <hr class="text-gray-100 mt-5 shadow-lg">
  <h6 class="mt-4 font-bold text-[12px]">© 2025 <span class="text-lime-700 font-extrabold">FreshCart</span> . All Rights Reserved</h6>


</div>

</div>
</footer>
