<!-- <section class="w-[95%] m-auto rounded-xl bg-white mb-8 shadow-2xl"> -->
  <!-- <section class=" p-2 w-full  rounded-xl mb-3"> -->
  <owl-carousel-o [options]="mainSectionOptions" class="Auto height  class  " >
    <ng-template carouselSlide>
      <img src="/images/ms-1.avif" class="w-full  rounded-3xl" loading="lazy"  alt="ads">
    </ng-template>
    <ng-template carouselSlide>
        <img src="/images/ms-2.avif" class="w-full rounded-3xl"loading="lazy"  alt="ads">
      </ng-template>
    <ng-template carouselSlide>
            <img src="/images/img2.avif" class="w-full rounded-3xl" loading="lazy"  alt="ads">

    </ng-template>
    <ng-template carouselSlide>
            <img src="/images/ms-4.avif" class="w-full rounded-3xl" loading="lazy"  alt="ads">
    </ng-template>


  </owl-carousel-o>

<!-- </section> -->

<!-- </section> -->

