<section class="header w-[95%] m-auto  mb-4 mt-10 p-4 rounded-2xl shadow-xl" style="background: #1ABA1A;
background: linear-gradient(90deg, rgba(26, 186, 26, 1) 50%, rgb(0, 46, 30) 100%);">
       <h2
    class="uppercase mb-3 font-semibold tracking-widest text-[16px] underline underline-offset-4 decoration-3 decoration-lime-400 "
    style="color: white;"
  >
         Brands That We Support In Fresh Cart
  </h2>
</section>
<section class="p-6 bg-white my-5 w-[95%] m-auto rounded-2xl">
  <div class=" grid gap-2 grid-cols-2 sm:grid-cols-3  md:grid-cols-4 lg:grid-cols-6 ">
    @for (brand of popularBrands; track brand._id) {

          <div  class=" border border-surface-400 dark:border-surface-700 rounded-3xl mx-1.5 p-2 pt-6 overflow-hidden group ">
            <img [src]="brand.image" alt="{{brand.name}}" class="w-full">
            <div class="text-center mt-4">
              <h3 class="text-lg font-semibold">{{brand.name}}</h3>
            </div>

      </div>
      }
  </div>

<div class="card flex justify-center">

<p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"  />
</div>

</section>

